body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
  }
  
  .quotes {
    width: 80vw;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;

  }
  /* .quotes .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 200%;
    overflow: hidden;
  } */
  
  .quotes .box {
    position: relative;
    width: 15vw;
    height: 20vh;
    border-radius: 15px;
    min-height: 220px;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding:30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  }
  
  .quotes .box::before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
  }
  
  .quotes .box::after {
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
  }
  
  .quotes .box p {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    height: 100px;
    width: 150px;
    overflow-y: scroll;
  }
  
  .quotes .box h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10%;
    right: 10%;
    font-size: 1.5rem;
  }
  
  .quotes .box:hover {
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
    
  }
  
  .quotes .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    /* width: 100%;
    height: 200%; */
    /* overflow: hidden; */
  }
  
  .quotes .box.box1:hover,
  .quotes .box.box1:hover~.bg {
    opacity: 1;
    background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, blue 15%, orangered 100%);
  background: -webkit-linear-gradient(-45deg, blue 15%,orangered 100%);
  background: linear-gradient(135deg, orangered 15%,blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
  }
  
  .quotes .box.box2:hover,
  .quotes .box.box2:hover~.bg {
    opacity: 1;
    background: #632c65;
  background: -moz-linear-gradient(-45deg, orange 15%, orangered 100%);
  background: -webkit-linear-gradient(-45deg, orange 15%,orangered 100%);
  background: linear-gradient(135deg, orange 15%,orangered 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
  }
  
  .quotes .box.box3:hover,
  .quotes .box.box3:hover~.bg {
    opacity: 1;
    background: #4b384c;
  background: -moz-linear-gradient(-45deg, orange 15%, orangered 100%);
  background: -webkit-linear-gradient(-45deg, orange 15%,orangered 100%);
  background: linear-gradient(135deg, orange 15%,orangered 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
  }


  .q2{
    position: relative;
    top: -120px;
  }
  .q3{
    position: relative;
    top: -240px;
  }
  .q4{
    position: relative;
    top: -360px;
    
  }
  
  /* .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: white;
  }
  
  .flip-box-back {
    background-color:orangered;
    color: white;
    transform: rotateY(180deg);
  } */
  